<div class="container text-center">
    <hr />
  <div class="row">
    <div class="col-lg-12">
      <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
          <li><a href="../about">About Libru</a></li>


        </ul>
      </div>
      <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
          <li><a href="../help">Help</a></li>

        </ul>
      </div>
      <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
          <li><a href="../resources">Resources</a></li>

        </ul>
      </div>
      <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
          <li><a href="../studyguides">Study Guides</a></li>

        </ul>
      </div>
    </div>
  </div>
  <hr>
    <div class="row">
        <div class="col-lg-12">
            <ul class="nav nav-pills nav-justified">
                <li><a href="#">© 2017 Reece Langerock</a></li>
                <li><a href="https://github.com/ReeceLangerock/libru">Github Repo</a></li>

            </ul>
        </div>
    </div>
</div>
<br>
