<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="icon" href="./favicon.ico" type="image/x-icon"> -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


</head>

<body>
    <!--import navbar -->
    <% if (isUserAuthenticated) { %>
        <%- include ./partials/authenticated-navigation.ejs %>
            <%  } else { %>
                <%- include ./partials/navigation.ejs %>
                    <%  } %>
                        <div class="container">

                            <div class="row">

                                <div class="col-md-10">
                                  <div class="panel panel-default">
                                  <div class="panel-heading">About Libru</div>
                                  <div class="panel-body">

                                    <p>Libru is a programming resource library built to allow users to find, rate and review resources as well as track what courses, books, guides, etc you have completed, are working on, or want to do. Perhaps most importantly,
                                        you can see what is well-liked among other Chingu members. The design was inspired by the website GoodReads so if you’re familiar with that then Libru should hopefully feel similar. If you have any questions on
                                        how to navigate or use the site check out the <a href = "./help">help page.</a></p>
                                        <p>Over the last few months I’ve struggled with finding resources and when I do, knowing which of them is actually useful or worth the cost. Not to mention keeping track of where I am with each of them can be a hassle. In my time in the slack groups for my cohorts and central station, it became obvious to me that this wasn’t a unique problem. Many, if not most of us are self-taught and good resources are essential. So I decided I would create Libru as a kind of thesis or final project, before I dove into learning React.</p>
                                        <p>This is both my first “large-scale” project and first project utilizing Bootstrap. I would be shocked if more than a hundred people ever use it, but all of my previous efforts were the full-stack projects (Pinterest clone, voting app, etc). Sites that at the most had a half-dozen people look at them, so I’m sure there will be growing pains. That said, if anyone wants to contribute it would be more than welcome. There are bound to be things I should have done differently or obvious improvements that can be made.
                                        </p>

                                        <hr>
                                        <h1>Future Features</h1>
                                        <p>The three features I’d like to add in the near-term, hopefully in the next month (but realistically whenever I have time), are Study Guides (User curated lists of which resources to use and in what order), leaving comments/reviews on a resource and a Favorites folder. Longer term, and I have no time-frame in mind for this, I’d like to re-build Libru into a SPA using React. Beyond that, I’m open to suggestion and hope the site can grow organically with the needs and wants of the users.</p>
                                </div>



                              </div>
                              </div>

                                <div class="col-md-2">
                                  <div class="panel panel-default">

                                  <div class="panel-body">
                                    Placeholder Sidebar
                                  </div>
                                </div>
                                </div>

                            </div>

                        </div>
  <%- include ./partials/footer.ejs %>

</body>

</html>
