.portfolioContainer{
  border: 1px solid;
  border-radius: 5px;
  box-shadow: 2px 2px grey;
}



.resourceItem {
  width: 31%;
  min-width: 150px;
  border:1px solid grey;
  margin: 3px 3px 3px 3px;
  box-shadow: 2px 2px grey;
    border-radius: 5px;

}

.commentItem {
  border:1px solid grey;
  margin: 3px 3px 3px 3px;
  box-shadow: 2px 2px grey;
}



.commentSpan{
  border: 5px solid;
  display:inline;
  background-color: green;
}

.form-container {
  padding: 0px 10px 5px 10px;
  border:1px solid grey;
  margin: 10px 3px 10px 3px;
  box-shadow: 2px 2px grey;
}

.image-preview {
  min-width: 100px;
  max-width: 150px;
  margin-right: 20px;

}
