<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="icon" href="./favicon.ico" type="image/x-icon"> -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


</head>

<body>
    <!--import navbar -->
    <% if (isUserAuthenticated) { %>
        <%- include ./partials/authenticated-navigation.ejs %>
        <%  } else { %>
        <%- include ./partials/navigation.ejs %>
        <%  } %>
                      <div class="container">
    <div class="row">


        <div class="col-md-10">

            <div>
                <h1>Account Settings</h1>

            </div>

            <div>
                <form method = "POST" action = "/">
                    <div class="form-group">
                        <label for="firstName">First Name:</label>
                        <input type="text" class="form-control" id="firstName">
                    </div>
                    <div class="form-group">
                      <label for="lastName">Last Name:</label>
                      <input type="text" class="form-control" id="lastName">
                    </div>
                    <div class="form-group">
                      <label for="location">Location:</label>
                      <input type="text" class="form-control" id="location">
                    </div>
                    <div>
                      <label for="cohortDropdown">Select Your Cohort:</label>
                      <select class="custom-select mb-2 mr-sm-2 mb-sm-0" name = "resourceSubCategory" id="sub-category-select">
                        <option selected disabled>Cohort</option>
                        <option value="1">Alpaca</option>
                        <option value="1">Artic Fox</option>
                        <option value="1">Beluga</option>
                        <option value="1">Cheetah</option>
                        <option value="3">Flamingo</option>
                        <option value="1">Giraffe</option>
                        <option value="2">Iguana</option>
                        <option value="3">Kangaroo</option>                        
                        <option value="3">Koala</option>
                        <option value="3">Lion</option>
                        <option value="3">Meerkat</option>
                        <option value="3">Moose</option>
                        <option value="3">Penguin</option>
                        <option value="3">Racoon</option>
                        <option value="3">Red Panda</option>
                        <option value="3">Rhino</option>
                        <option value="3">Turtle</option>
                        <option value="3">Wombat</option>
                      </select>
                    </div>

                    <button type="submit" class="btn btn-default">Submit</button>
                </form>

            </div>

            <hr>

            <div>
              <h1>Link Social Media Accounts</h1>
            </div>
        </div>

        <div class="col-md-2">
            Placeholder Sidebar
        </div>

    </div>
</div>


</body>

</html>
