<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../images/favicon.ico" type="image/x-icon">
    <title>Libru</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


</head>

<body>
    <!--import navbar -->
  <div id="wrap">
    <% if (isUserAuthenticated) { %>
        <%- include ./partials/authenticated-navigation.ejs %>
            <%  } else { %>
                <%- include ./partials/navigation.ejs %>
                    <%  } %>
                      <div id="main" class="container clear-top">
                            <div class="row">

                                <div class="col-md-10">
                                  <div class="panel panel-default">
                                  <div class="panel-heading">How To Use Libru</div>
                                  <div class="panel-body">

                                    <p>Do you want to keep track of the courses, books, or guides you want to do when you have the time? Use Libru.</p>
                                    <p>Did you find an awesome resource that you're sure everyone in the Chingu community will love and appreciate? Use Libru.</p>
                                    <p>Did you stumble across a course but the teacher seems kinda like a jerk? Did you find a resource but you're unsure if it's as useful as a screendoor on a submarine? Do you wonder what other Chingu Campers have rated it. Use Libru.</p>
                                    <p>In the distant future, maybe you're starting one of p1xt's study paths and you want to be able to keep track of your progress. Use Libru. In the future.
                                </div>

                                <div class="panel-heading">How To Add A Resource</div>
                                <div class="panel-body">

                                  <p><b>Title</b> - Should be the title of the course, book, website, etc.
                                  <p><b>Url</b> - Should be the full link (including http(s):// ) to the resource.
                                  <p><b>Image Url </b> - If the resource has a readily available image (book cover, course logo, etc) the full link (including http(s):// ) to that should be used. If not, use a ‘close enough’ image link
                                  <p><b>Description</b> - If the resource has a description, copy-paste that. If not a short summary of what the resource is useful for will work.
                                  <p><b>Category</b> - Pick the category the resource most closely falls under
                                  <p><b>Subcategory</b> - If applicable, describe the category further.
                                    <p><b>Difficulty</b> - List how difficult the resource is

                                    <p><b>Cost</b> - List the regular sale price for the resource in USD
                                    <p><b>Goes On Sale</b> - List if the resource goes on sale on a regular basis (i.e, once every couple months)

                              </div>



                              </div>
                              </div>

                                <div class="col-md-2">
                                  <div class="panel panel-default">

                                  <div class="panel-body">
                                    Placeholder Sidebar
                                  </div>
                                </div>
                                </div>

                            </div>

                        </div>
                      </div>

                        <%- include ./partials/footer.ejs %>
                        <script>
                          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

                          ga('create', 'UA-99625079-1', 'auto');
                          ga('send', 'pageview');

                        </script>

</body>

</html>
