<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../images/favicon.ico" type="image/x-icon">
    <title>Libru</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../style.css">

</head>

<body>
  <div id="wrap">
    <!--import navbar -->
    <% if (isUserAuthenticated) { %>
        <%- include ./partials/authenticated-navigation.ejs %>
            <%  } else { %>
                <%- include ./partials/navigation.ejs %>
                    <%  } %>

                      <div id="main" class="container clear-top">

                            <div class="row">

                                <div class="col-md-10">
                                  <div class="panel panel-default">
                                  <div class="panel-heading">Study Guides</div>
                                  <div class="panel-body">

                                    <p>There's nothing to see here! I hope to add this feature "soon"</p>
                                </div>



                              </div>
                              </div>

                                <div class="col-md-2">
                                  <div class="panel panel-default">

                                  <div class="panel-body">
                                    Placeholder Sidebar
                                  </div>
                                </div>
                                </div>

                            </div>

                        </div>
                      </div>

<%- include ./partials/footer.ejs %>
</body>

</html>
